.body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(2,0,36,1) 0%, 
    rgb(24, 103, 17) 0%, rgb(0, 52, 15) 100%);
    padding-top: 60px;
    padding-bottom: 100px;
}

.container{
    margin: 30px;
    width: 1200px;
    margin: 0 auto;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;

    width: 1300px;
}


.title_span {
    justify-content:center;
    text-align: center;
    font-size: 70px;
    letter-spacing: 3px;
    
    font-weight: bold;
    color: rgb(204, 157, 118);
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.offer_text {
    text-align: justify;
    font-size: 25px;
    width: 2000px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgb(204, 157, 118);
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.header_img{
    width: 340px;
    padding: 30px;
}

.main{
    padding-top: 30px;
    padding-bottom: 30px;
    
    color:rgb(204, 157, 118);
    background-color: rgb(88, 41, 2);
    background: linear-gradient(90deg, rgb(2,0,36,1) 0%, 
    rgb(88, 41, 2) 0%, rgb(50, 14, 0) 100%);

    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.container2{
    
    margin: 0px;
    width: 1300px;
    margin: 0 auto;
}

.foto{
    background-color: #ebd4cc;
    height: 900px;
    padding-top: 50px;
    padding-bottom: 200px;
    border-bottom: 1px solid black;
}

.cssSlider {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.cssSlider .slides {
	overflow: hidden;
	overflow: hidden;
	width: 100%;
	height: 70vmin;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cssSlider .slides > li {
	width: 100%;
	height: 70vmin;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.cssSlider .slides > li > img {
	width: 100%;
	height: auto;
}
/*
.cssSlider .slides > li:first-child:not(:target) {
	z-index: 1;
	-webkit-transform: translateY(0%);
	        transform: translateY(0%);
}
*/
.cssSlider .thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}
.cssSlider .thumbnails > li {
	float: left;
	width: 20%;
}
.cssSlider .thumbnails > li > a {
	display: block;
}
.cssSlider .thumbnails > li > a > img {
	width: 100%;
	height: auto;
}

.cssSlider .slides li:target {
	z-index: 3;
}

@keyframes slide {
	0% {
		        transform: translateX(-100%);
	}
	100% {
		        transform: translateX(0%);
	}
}

@keyframes hidden {
	0% {
		z-index: 2;
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		        transform: translateX(100%);
	}
}

@media screen and (max-width: 1200px) 
{
    .container{
        width: 80%;
        width: 1100px;
    }
    .container2{
        width: 80%;
        width: 1100px;
    }

    .wrapper{
        flex-direction: column;
        align-items: center;
        width: 1100px;
    }

    .offer_text{
        width: 70%;
        margin-top: 40px;
    }

    .header_img{
        margin-top: 0px;
    }

}


@media screen and (max-width: 992px) 
{
    .container{
        width: 720px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .container2{
        width: 720px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
    .main{
        margin-top: 0px;
    }

    .wrapper{
        align-items: center;
        width: 720px;
    }

    .header_img{
        height: 50%;
        width: 50%;
    }
}



@media screen and (max-width: 768px) 
{
    .container{
        width: 540px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .container2{
        width: 540px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
    .desktop{
        display: block;
        width: 65%;
        margin-top: 40px;
    }
    .main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wrapper {
        flex-direction: column;
        width: 540px;
    }

    .header_img{
        width: 40%;
    }
    
    .offer_text{
        width: 320px;
        font-size: 15px;
    }

    .title_span{
        font-size: 30px;
    }

}



@media screen and (max-width: 576px)

{
    .container{
        width: 100%;
        margin-left: 20px;
        margin-right: 10px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .container2{
        width: 100%;
        margin-left: 20px;
        margin-right: 10px;
    }
    .wrapper{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .header_img{
        width: 50%;
        margin-right: 0px;
        margin-left: 0px;
    }
    .offer_text{
        width: 95%;
        justify-content: center;
        align-content: center;
    }
    .main{
        width: 100%;
        margin-right: 10px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
}